row
  .col-sm-4
  .col-sm-4
    - if flash[:notice]
      h3.noticefail
        = flash[:notice]
    = form_for :user do |f|
      .field
        = f.label :username
        = f.text_field :username
      .field
        = f.label :password
        = f.password_field :password, class: "form-control"
      br
      .actions
        = f.submit "login", :class => "btn btn-info"
  .col-sm-4