- if comment.present?
  p.alert.alert-success
    strong Name:
    = comment.commentname
    br
    strong Comment:
    = comment.body
    br
    - if session[:current_level].present? && session[:current_level] == 1
    = link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }