= form_for([post, post.comments.build]) do |f|
  p
    = f.label :commentname
    = f.text_field :commentname
  p
    = f.label :body
    = f.text_area :body
  p
    =f.submit "Add comment", :class => "btn btn-info btn-comment"