row
  .col-sm-4
  .col-sm-4
    - if flash[:notice]
        h5.noticefail
          = flash[:notice]
    = form_for :user do |f|
      .field
        = f.label :username
        = f.text_field :username, class: "form-control", :required => true
      .field
        = f.label :password
        = f.password_field :password, class: "form-control", :required => true
      .field
        = f.label :repassword
        = f.password_field :repassword, class: "form-control", :required => true
      .field
        = f.label :email
        = f.email_field :email, class: "form-control", :required => true
      .field
        = f.label :gender
        = f.select :gender, options_for_select(['Nam', 'Nu'])
      .field
        = f.label :lastname
        = f.text_field :last_name, class: "form-control", :required => true
      br
      .actions
        = f.submit "Register", :class => "btn btn-info"
  .col-sm-4