= form_for(post) do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body, class: "form-control input-md",  placeholder: "your text", id: "markdown"
  .field
    = f.label :description
    = f.text_area :description, class: "form-control input-md"
  .field
    = f.label :urlbanner
    = f.text_field :urlbanner
  .actions
    = f.submit"Create", :class => "btn btn-info"