- if flash[:notice]
  h5.noticesuccess = flash[:notice]
- if session[:current_level].present? && session[:current_level] == 1
  = link_to 'New post', new_post_path, type: "button", class: "btn btn-success"
- provide(:page_title, 'Index')
.row
  .col-sm-2
  .col-sm-8
    - @posts.each do |post|
      = link_to post
        .col-sm-12.listgroup
          .card-text.showimg style = "background-image: url('#{post.urlbanner}')"
          .card-text
            h3.card-title = post.title
          .card-text
            = truncate(post.body, length: 500)
          .card-text
            - if session[:current_level].present? && session[:current_level] == 1
              = link_to "Destroy", post, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger"
  .col-sm-2