.row
  .col-sm-2
  .col-sm-8
    - provide(:page_title, @post.title)
    p#titlepage
      strong
        = @post.title
    .showimg style = "background-image: url('#{@post.urlbanner}')"
    p
      = @post.body
    p
      = @post.description
    p
      - if session[:current_level].present? && session[:current_level] == 1
        = link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary"
      = link_to 'Back', posts_path, :class => "btn btn-primary"
    p.well
      strong Comment list
    = render @post.comments
    - if session[:current_level].present?
      = render partial: 'comments/form', locals: { post: @post}
  .col-sm-2