.card-text
  width: 90%
input[type=text]
  width: 100%
  padding: 12px 20px
  margin: 8px 0
  box-sizing: border-box
p#titlepage
  font-size: 230%
textarea
  width: 100%
  height: 200px
.listgroup
  margin-bottom: 2cm
.container
  display: inline-block
  position: relative
  width: 100%
.card-text
  margin: 0 auto
.showimg
  height: 300px
  background-position: center
  background-size: cover
.btn
  margin: 2px
.btn-comment
  margin-bottom: 50px
.noticesuccess
  color: green
.noticefail
  color: red