table.table
  thead
    tr
      th Create at
      th Title
      th Body
      th Slug
      th
  tbody
    - @posts.each do |post|
      tr
        td = post.created_at
        td = post.title
        td = truncate(post.body, length: 30)
        td = post.slug
        td
          = link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-primary"
          = link_to "Edit", edit_post_path(post), :class => "btn btn-primary"