nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to 'MyBlog', root_path, class: 'navbar-brand'
    ul.nav.navbar-nav
      li
        = link_to 'Home', root_path
      li
        = link_to 'About', about_path
      li
        = link_to 'Contact', contact_path
    ul.nav.navbar-nav.navbar-right
      - if session[:current_name].present?
        li
          = link_to session[:current_name]
        li
          = link_to "logout", logout_path, data: {confirm: 'Are you sure?'}
      - if !session[:current_name].present?
        li
          = link_to "Sign up", users_path
        li
          = link_to "Login", login_path